<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8" />
        <title>添加钓点</title>
        <!-- Bootstrap -->
        <link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/css/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <link href="/css/assets/styles.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="/css/addPlace.css" />
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/vendors/flot/excanvas.min.js"></script><![endif]-->
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    
    <body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/admin/">管理导航</a>
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="/index.php/common/whereisfish/">登出 </i>

                            </a>
                        </li>
                    </ul>
                    <ul class="nav">
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">钓点功能 <b class="caret"></b>

                            </a>
                            <ul class="dropdown-menu" id="menu1">
                                <li>
                                    <a href="/admin/view/audited">已审核钓点</a>
                                </li>
                                <li>
                                    <a href="/admin/view/pending">待审核钓点</a>
                                </li>
                                <li>
                                    <a href="/admin/view/addplace">添加钓点</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">app信息 <i class="caret"></i>

                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a tabindex="-1" href="#">版本信息</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3" id="sidebar"><!-- 占位 --></div>
            <!--/span-->
            <div class="span6" id="content">
                <!-- validation -->
                <div class="row-fluid">
                    <!-- block -->
                    <div class="block">
                        <div class="navbar navbar-inner block-header">
                            <div class="muted pull-left">已审核地点信息</div>
                        </div>
                        <div class="block-content collapse in">
                            <div class="span12">
                                <!-- BEGIN FORM-->
                                <form id="addPlace" class="form-horizontal">
                                    <fieldset>
                                        <div class="control-group">
                                            <label class="control-label">地点名称：</label>
                                            <div class="controls">
                                                <input type="text" name="name" id="dename" class="span6 m-wrap">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">价格：</label>
                                            <div class="controls">
                                                <input type="text" name="cost" id="decost" class="span6 m-wrap">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">介绍：</label>
                                            <div class="controls">
                                                <input type="text" name="content" id="decontent" class="span6 m-wrap">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">联系方式：</label>
                                            <div class="controls">
                                                <input type="text" name="tel" id="detel" class="span6 m-wrap">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">鱼种：</label>
                                            <input type="hidden" name="fishType" id="fishTypeVal" />
                                            <div class="controls" id="fishType">
                                                <div id="curFish">
                                                    <label for="fishTpye0"><input type="checkbox" id="fishTpye0" class="fishTpye" value="0" />鲤鱼
                                                    </label><label for="fishTpye1"><input type="checkbox" id="fishTpye1" class="fishTpye" value="1" />鲫鱼</label>
                                                    <label for="fishTpye2"><input type="checkbox" value="2" id="fishTpye2" class="fishTpye" >草鱼</label>
                                                    <label for="fishTpye3"><input type="checkbox" id="fishTpye3" class="fishTpye" value="3" />青鱼</label>
                                                    <label for="fishTpye4"><input type="checkbox" id="fishTpye4" class="fishTpye" value="4">石尾子</label>
                                                    <label for="fishTpye5"><input type="checkbox" id="fishTpye5" class="fishTpye" value="5">细鳞鱼</label>
                                                    <label for="fishTpye6"><input type="checkbox" id="fishTpye6" class="fishTpye" value="6">鲶鱼</label>
                                                    <label for="fishTpye7"><input type="checkbox" id="fishTpye7" class="fishTpye" value="7">黄腊丁</label>
                                                    <label for="fishTpye8"><input type="checkbox" id="fishTpye8" class="fishTpye" value="8">马口</label>
                                                    <label for="fishTpye9"><input type="checkbox" id="fishTpye9" class="fishTpye" value="9">花白鲢</label>
                                                    <label for="fishTpye10"><input type="checkbox" id="fishTpye10" class="fishTpye" value="10">白参</label>
                                                    <label for="fishTpye11"><input type="checkbox" id="fishTpye11" class="fishTpye" value="11">翘壳</label>
                                                    <label for="fishTpye12"><input type="checkbox" id="fishTpye12" class="fishTpye" value="12">其它</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">经度：</label>
                                            <div class="controls">
                                                <input type="text" name="lng" id="delng" class="span6 m-wrap">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">纬度：</label>
                                            <div class="controls">
                                                <input type="text" name="lat" id="delat" class="span6 m-wrap">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">简略地址：</label>
                                            <div class="controls">
                                                <input type="text" name="briefAddr" id="debriefAddr" class="span6 m-wrap">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">收费类型：<span class="required">*</span></label>
                                            <div class="controls">
                                                <select class="span6 m-wrap" name="costType" id="decostType">
                                                    <option value="" selected="selected"></option>
                                                    <option value="0">免费</option>
                                                    <option value="1">斤塘</option>
                                                    <option value="2">天塘</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">河流类型：<span class="required">*</span></label>
                                            <div class="controls">
                                                <select class="span6 m-wrap" name="poolType" id="depoolType">
                                                    <option value="" selected="selected"></option>
                                                    <option value="0">池塘</option>
                                                    <option value="1">水库</option>
                                                    <option value="2">江河</option>
                                                    <option value="3">湖</option>
                                                    <option value="4">海洋</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">服务类型：<span class="required">*</span></label>
                                            <input type="hidden" name="serviceType" id="serviceType" />
                                            <div class="controls" id="service">
                                                <div id="curService">
                                                    <label for="serviceType0"><input type="checkbox" id="serviceType0" class="serviceType" value="0">夜钓</label>
                                                    <label for="serviceType1"><input type="checkbox" id="serviceType1" class="serviceType" value="1">住宿</label>
                                                    <label for="serviceType2"><input type="checkbox" id="serviceType2" class="serviceType" value="2">餐饮</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">面积：<span class="required">*</span></label>
                                            <div class="controls">
                                                <select class="span6 m-wrap" name="area" id="dearea">
                                                    <option value="" selected="selected"></option>
                                                    <option value="5亩以下">5亩以下</option>
                                                    <option value="5-20亩">5-20亩</option>
                                                    <option value="20亩以上">20亩以上</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">水深：<span class="required">*</span></label>
                                            <div class="controls">
                                                <select class="span6 m-wrap" name="deep" id="dedeep">
                                                    <option value="" selected="selected"></option>
                                                    <option value="3米以下">3米以下</option>
                                                    <option value="3-5米">3-5米</option>
                                                    <option value="5米以上">5米以上</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">能否打洞：<span class="required">*</span></label>
                                            <div class="controls">
                                                <select class="span6 m-wrap" name="hole" id="dehole">
                                                    <option value="" selected="selected"></option>
                                                    <option value="0">不能</option>
                                                    <option value="1">能</option>
                                                    <option value="2">未知</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">图片上传：</label>
                                            <input type="hidden" name="preview" id="prePic" />
                                            <input type="hidden" name="picture" id="pic" />
                                            <a class="btn btn-primary" data-toggle="modal" data-target="#upload" class="addPics">添加图片</a>
                                        </div>
                                        <div class="form-actions">
                                            <a class="btn btn-primary" id="subAddPlace">提交</a>
                                        </div>
                                    </fieldset>
                                </form>
                                <!-- END FORM-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 图片上传模态框-->
        <div class="modal fade modal-box" id="upload" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            上传新的图片
                        </h4>
                    </div>
                    <div class="modal-body">
                        <h4>预览图</h4>
                        <form name="form" id="upPreview">
                            <input type="hidden" name="token" value="" id="tokenPre"><br />
                            <input type="file" name="file">
                            <a class="btn btn-primary" id="subPre">提交</a>
                        </form>
                        <div id="upinfo"></div>

                        <h4>实拍图</h4>
                        <form>
                            <input type="file" id="fileElem" multiple accept="image/*" style="display: none;" onchange="add.handleFile(this.files)"/>
                        </form>
                        <a href="###" id="doClick">select files</a>
                        <div id="fileList">
                            <p>no files here</p>
                        </div>
                        <!--<form name="form" id="upPics">
                            <input type="hidden" name="token" value="" id="token"><br />
                            <input type="file" name="file">
                            <a class="btn btn-primary" id="subPic">提交</a>
                        </form>
                        <div id="upinfop"></div>-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal" id="picVal">关闭
                        </button>
                    </div>
                </div>
            </div>
        <hr>
        <footer>
        </footer>
    </div>
        </div>
        <link href="/css/uniform.default.css" rel="stylesheet" media="screen">
        <link href="/css/chosen.min.css" rel="stylesheet" media="screen">
        <script src="/scripts/jQuery/jquery-1.9.1.min.js"></script>
        <script src="/css/bootstrap/js/bootstrap.min.js"></script>
    <script src="/scripts/addPlace.js"></script>
    </body>

</html>