<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=Edge,Chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/reset/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

<div class="wrapper kg-topbg">
    <div class="kg-top"></div>
</div>

<div class="wrapper kg-main">
    <div class="kg-main-line-left"></div>
    <h1>登录</h1>
    <div class="kg-main-line-right"></div>

    <div class="kg-main-login">
        <form id="mainLogin">
            <ul>
                <li><!-- 占位 --></li>
                <li>
                    <label for="">账号：</label>
                    <div class="kg-main-cus">
                        <input type="text" placeholder="(*￣︶￣)y输入你的管理员账号"/>
                    </div>

                </li>
                <li>
                    <label for="">密码：</label>
                    <div class="kg-main-pass">
                        <input type="password" placeholder="╮(￣▽￣)╭输入你的密码"/>
                    </div>
                </li>
                <li>
                    <a class="kg-main-login-button" href="javascript:;" id="loginBtn">点击登录</a>
                    <div class="kg-main-footer"></div>
                </li>
            </ul>
        </form>
    </div>
</div>

</body>
</html>