<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>临时修改图片界面</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
</head>
<body>
<form action="/place/add" method="post">
<input name="picture" value="{$picture}"><br />
<input name="id" value="{$id}">
<input type="submit" value="提交">
</form>
  </body>
</html>
