/***地图显示**/
.manage-map{
    margin-top:10px;
    width:800px;
    display: block;
    float:right;
    padding:10px;
    border:1px solid #ccc;
    box-shadow:1px 1px 1px #ccc;
}
#allmap{
   width:100%;
    height:500px;
}
#r-result{
    width:100%;
}